*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	margin: 0;
	padding: 0;
}

:root {
	--basewhite: #fff;
	--basecolor: rgb(240, 240, 240);
	--complementcolor: #ffe500;
	--whitetext: rgb(240, 240, 240);
	--blacktext: rgb(5, 5, 5);
	--navbar-shallow-color: #e5e5e5;
	--menu-mobile-background-color: #313d37;
}

body {
	/* font-family: 'Roboto Condensed', sans-serif; */
	font-family: "Montserrat", sans-serif;
	/* font-family: 'Comfortaa', cursive; */
	background-color: var(--basecolor);
	color: var(--blacktext);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
	padding: 0;
	/* background-image: linear-gradient(0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)), url("img/espejadamobile.png"); */
	/* background-size: cover; */
	/*   background-repeat: repeat;
  background-size: 130%; */
	/* box-sizing: border-box; */
}

a {
	text-decoration: none;
	color: var(--complementcolor);
}

section {
	padding: 0px 15px 25px 15px;
}

br {
	display: block;
	content: "";
	margin: 10px 0;
}

p {
	margin-bottom: 1rem;
	font-size: 1rem;
	/* text-align: justify; */
}

h3 {
	font-size: 1.5rem;
	text-align: center;
	padding-top: 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

span {
	margin-bottom: 1rem;
}

h4 {
	font-size: 0.9rem;
	font-weight: normal;
	text-align: center;
	margin-bottom: 1rem;
}

.enVerde {
	color: #056e24;
}

/* .fill {
  height: 45vh;
} */

@media (min-width: 850px) {
	section {
		padding: 0px 70px 70px 70px;
	}
}

@media (min-width: 1550px) {
}
