.portada {
	/* height: 100vh; */
	padding: 0;
	color: #f2f5f7;
	text-align: center;
	font-weight: 700;
	height: 100vh;
	width: 100%;
}

.imgcontainer {
	display: block;
	justify-items: center;
	margin-top: 30vh;
	width: 100%;
}

.logoPortada {
	object-fit: contain;
	width: 15vh;
	/* height: 150px;
 */
}

.logoportadasub {
	object-fit: contain;
	width: 65vw;
	/* height: 150px; */
}

.portadatitulo {
	display: flex;
	font-size: 2.6rem;
	justify-content: center;
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 1.8rem;
}

.portadatituloSubtitulo {
	display: block;
	font-size: 1.4rem;
	font-weight: 500;
	justify-content: center;
	margin: auto;
	margin-top: auto;
}

.portadatituloSubtitulo > br {
	margin: 0;
}

.portada > hr {
	width: 50px;
	border-top: 3px solid #ffffff;
	border-bottom: 0px;
	border-left: 0px;
	border-right: 0px;
	margin: auto;
}

.slogan {
	font-size: 20px;
	font-weight: 400;
	margin-top: 30px;
}

.ourplace {
	font-size: 35px;
	font-weight: 600;
	color: #f2f5f7;
	margin-top: 120px;
	margin-bottom: 0px;
}

@media (min-width: 950px) {
	.imgcontainer {
		display: grid;
		text-align: center;
		justify-content: center;
		margin-top: 30vh;
	}

	.logoportada {
		width: 65vw;
	}

	.logoportadasub {
		width: 30vw;
		/* height: 150px; */
	}
}
